@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Allura&family=Bad+Script&family=Boogaloo&family=Bungee+Outline&family=Charm&family=Charmonman&family=Cinzel+Decorative&family=Codystar:wght@300&family=Eagle+Lake&family=Ewert&family=Faster+One&family=Felipa&family=Fredericka+the+Great&family=Just+Another+Hand&family=MedievalSharp&family=Merienda+One&family=Miltonian&family=Norican&family=Oleo+Script&family=Petit+Formal+Script&family=Rochester&family=Rouge+Script&family=Sail&family=Tillana&family=Trade+Winds&display=swap');


body{
  background: url("./images/background_image.jpg")no-repeat center center/cover;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
}

@media (max-width:480px) {
  .container{
  display: block;}
  body{
      background: url("https://images.unsplash.com/photo-1623815145664-6b4b468ed7c8?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI0MXxKOXlyUGFIWFJRWXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")no-repeat center center/cover;
      height: 100vh;
    }
}
.card{
  width: 200px;
  background-color: rgb(204, 245, 241);
  border-radius: 20px 20px 20px 20px;
  box-shadow: rgba(129, 129, 129, 0.911) 0px 0px 10px 0px;
  margin: 50px;
}
.cardImage img{
  height: 180px;
  width: 200px;
  border-radius: 20px 20px 0px 0px;
}
.cardHeading{
  color: rgb(0, 0, 80);
  text-align: center;
  padding-bottom: 1px;
}
.cardHeading a{
  text-decoration: none;
}



.pageHeading{
  color: rgb(32, 245, 32);
  color: rgb(53, 53, 53);
  font-weight: bolder ;
  font-size: 60px;
	font-family: 'Faster One', cursive;
  text-shadow: rgb(26, 240, 6) 2px 2px 5px;
  text-align: center;

	
}